<h1>Meu Carrinho</h1>

@if (carrinhoService.itens().length === 0) {

  <p class="vazio">
    Seu carrinho está vazio.
  </p>

} @else {

  @for (item of carrinhoService.itens(); track item.id) {

    <div class="item">

      <img
        [src]="item.produto.foto"
        [alt]="item.produto.nome">

      <div class="informacoes">

        <h2>{{ item.produto.nome }}</h2>

        <p>
          <strong>Marca:</strong>
          {{ item.produto.marca }}
        </p>

        <p>
          <strong>Preço:</strong>
          R$ {{ item.produto['preço'] }}
        </p>

        <p>
          <strong>Subtotal:</strong>
          R$ {{ item.produto['preço'] * item.quantidade }}
        </p>

        <div class="quantidade">

          <button (click)="diminuir(item)">
            -
          </button>

          <span>{{ item.quantidade }}</span>

          <button (click)="aumentar(item)">
            +
          </button>

        </div>

        <button
          class="excluir"
          (click)="remover(item)">
          Excluir item
        </button>

      </div>

    </div>

  }

  <div class="total">
    <strong>Total da compra:</strong>
    R$ {{ total() }}
  </div>

}