a {
    display: inline-block;
  
    padding: 11px 20px;
  
    background: #6c63c9;
    color: white;
  
    text-decoration: none;
    border-radius: 8px;
  
    font-weight: bold;
  }
  
  a:hover {
    background: #554db0;
  }